<!DOCTYPE html>
{% load staticfiles %}
{% load custom_tag %}
{% load humanize %}
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>預算管理系統</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="Eason" />
		<link rel="shortcut icon" href="../favicon.ico">
        {% include "basecss.html" %}
        {% include "top_menu_cj.html" %}
        {% include "basejs.html" %}
		<script src={% static "js/modernizr.custom.js" %}></script>
	</head>
	<body>
		<div class="container" style="overflow:auto;">
            <!-- Top Navigation -->
            {% include "top_menu.html" %}
            <div class="content" align="center">
                <h1>當月資料不存在</h1>
            </div>
		</div><!-- /container -->
	</body>
</html>